/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#response img{
	width: 400px;
	height: auto;
}

.container div {
    margin: 2px;
}

.container{
	display: flex;
    flex-direction: column;
}
.label-input {
    width: 250px;
}
.res-content {
    border: grey solid;
    padding: 10px;
}